<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>KartFy Dashboard</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />npm i sweetalert2
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
  <!-- Template CSS -->
  <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
  <link href="/dist/cropper.css" rel="stylesheet">
  <link href="/dist/cropper.min.css" rel="stylesheet">
  <script src="/dist/cropper.js"></script>
  <script src="/dist/cropper.min.js"></script>
</head>

<body>
  <%- include('../partials/sidenav.ejs') -%>

    <main class="main-wrap">
      <header class="main-header navbar">
        <div class="col-search">
          <form class="searchform">
            <div class="input-group">
              <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
              <button class="btn btn-light bg" type="button">
                <i class="material-icons md-search"></i>
              </button>
            </div>
            <datalist id="search_terms">
              <option value="Products"></option>
              <option value="New orders"></option>
              <option value="Apple iphone"></option>
              <option value="Ahmed Hassan"></option>
            </datalist>
          </form>
        </div>
        <div class="col-nav">
          <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
            <i class="material-icons md-apps"></i>
          </button>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link btn-icon" href="#">
                <i class="material-icons md-notifications animation-shake"></i>
                <span class="badge rounded-pill">3</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-icon darkmode" href="#">
                <i class="material-icons md-nights_stay"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
            </li>
            <li class="dropdown nav-item">
              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                aria-expanded="false"><i class="material-icons md-public"></i></a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                <a class="dropdown-item text-type" href="#"><img src="/assets/imgs/theme/flag-us.png"
                    alt="English" />English</a>
                <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-fr.png"
                    alt="Français" />Français</a>
                <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
              </div>
            </li>
            <li class="dropdown nav-item">
              <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                <img class="img-xs rounded-circle" src="/assets/imgs/people/avatar-2.png" alt="User" /></a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                  Profile</a>
                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="/api/v1/admin/logout"><i
                    class="material-icons md-exit_to_app"></i>Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </header>
      <section class="content-main">
        <div class="row">
          <div class="col-12">
            <div class="content-header">
              <h2 class="content-title">Add New Product</h2>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card mb-4">
              <!-- <div class="card-header">
                                <h4>Basic</h4>
                            </div> -->
              <div class="card-body">
                <form onsubmit=" return productValidation(event)" action="/api/v1/admin/products/add-product"
                  method="post" enctype="multipart/form-data">

                  <div class=" mb-4 form-group ">

                    <label for="product_name" class="form-label">Product title</label>
                    <div class="row align-items-center justify-content-center" style="position: relative;"
                      id="titleDiv">
                      <div class="text-danger" id="titleError" style="position: absolute; bottom:0%; left:29%">
                      </div>
                    </div>
                    <input type="text" placeholder="Title" name="title" class="form-control" id="title"
                      style="padding: 10px; margin: 1rem, 0" />
                  </div>
                  <div class=" mb-4 form-group ">
                    <label class="form-label">Full description</label>
                    <div class="row align-items-center justify-content-center" style="position: relative;"
                      id="descriptionDiv">
                      <div class="text-danger" id="descriptionError" style="position: absolute; bottom:0%; left:29%">
                      </div>
                    </div>
                    <textarea placeholder="Type here" name="description" id="description" class="form-control"
                      rows="4"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class=" mb-4 form-group ">
                        <label class="form-label">MRP price</label>
                        <div class="row align-items-center justify-content-center" style="position: relative;"
                          id="mrpDiv">
                          <div class="text-danger" id="mrpError" style="position: absolute; bottom:0%; left:29%">
                          </div>
                        </div>
                        <div class="row gx-2">
                          <input placeholder="₹" id="mrpPrice" name="mrpPrice" type="text" class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class=" mb-4 form-group ">
                        <label class="form-label">Price</label>
                        <div class="row align-items-center justify-content-center" style="position: relative;"
                          id="priceDiv">
                          <div class="text-danger" id="priceError" style="position: absolute; bottom:0%; left:29%">
                          </div>
                        </div>
                        <input placeholder="₹" name="price" id="price" type="text" class="form-control" />
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class=" mb-4 form-group ">
                        <label class="form-label">Color</label>
                        <select class="form-select" id="color" name="color">
                          <option value="Black">Black</option>
                          <option value="White" selected>White</option>
                          <option value="Blue">Blue</option>
                          <option value="Red">Red</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <%if(Array.isArray(category) && category.length> 0) {%>

                    <div class="row">
                      <%category.forEach(category=> {%>
                        <div class="col-sm-6 my-2">
                          <label class="form-label">
                            <%=category.title%>
                          </label>

                          <select class="form-select" id="category" name="category">
                            <%if(Array.isArray(category.subCategories) && category.subCategories.length> 0) {%>
                              <%category.subCategories.forEach(value=> {%>
                                <option value="<%=category.title%>,<%=value.title %>">
                                  <%= value.title %>
                                </option>
                                <%})}%>
                          </select>





                        </div>
                        <% })%>

                    </div>
                    <%}%>

                      <!-- <div class="col-lg-4">
                                            <label class="form-label"></label>
                                            <input class=""></input>
                                        </div> -->




                      <label class="form-label">Add images</label>

                      <div class="" style="display: flex; margin: 1rem">
                        <div class="row align-items-center justify-content-center" style="position: relative;"
                          id="imageDiv">
                          <div class="text-danger" id="imageError" style="position: absolute; top:0%; left:0%">
                          </div>
                        </div>
                        <%for(let i=0; i < 4; i++){%>

                          <div class="mb-4 col-lg-3 me-2">
                            <img class="img-lg" src="" id="imagePreview<%= i+1 %>" alt="Product image" style="
                         
                          margin-bottom: 1.5rem;
                        " />

                            <input type="file" accept="image/jpeg,image/png" placeholder="Add image" name="images"
                              class="form-control" id="image<%=i+1%>" data-id="<%=i+1%>"
                              onchange="previewImage(event)" />
                          </div>

                          <%}%>
                      </div>

                      <button class="btn btn-dark">Add</button>
                </form>
              </div>
            </div>

            <!-- card end// -->
          </div>
        </div>

        <%for(let i=1 ; i<=4; i++) { %>
          <div class="modal fade" id="imageModal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" ></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="imagecrop<%=i%> width-100">

                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" id="cropButton<%=i%>" class="btn btn-primary">Crop</button>
                </div>
              </div>
            </div>
          </div>
          <%}%>




      </section>
      <!-- content-main end// -->
      <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
          <div class="col-sm-6">
            <script>
              document.write(new Date().getFullYear());
            </script>
            &copy; CartFy - Ecommerce .
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end">All rights reserved</div>
          </div>
        </div>
      </footer>
    </main>
    <!-- <script src="/js/admin/adminValidation.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <script src="node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <!-- <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script> -->
</body>

</html>

<script>

  let cropper;
  function previewImage(event) {
    const input = event.target;
    let idNumber = input.getAttribute('data-id');
    console.log(idNumber, 'id')

    const preview = document.getElementById(`imagePreview${idNumber}`);
    const imageElement = document.querySelector(`.imagecrop${idNumber}`);

    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {

        $(document).ready(function () {
          $(`#imageModal${idNumber}`).modal('show');

          let modal = document.getElementById(`imageModal${idNumber}`);

let bootsrapModal = bootstrap.Modal.getInstance(modal);

let closeButton = document.querySelectorAll('.btn-close').forEach(item => {
  item.addEventListener('click', () => {
    console.log('hello')
    bootsrapModal.dispose();
    cropper.distroy()
    cropper = null;
  });
})
        });

        let img = document.createElement('img');
        img.id = `image`;
        img.src = e.target.result;
        console.log(imageElement, 'imageElemtn')

        imageElement.appendChild(img);

        cropper = new Cropper(img, {
          // aspectRatio: 1/1,
          viewMode: 0,
          dragMode: 'move',
          responsive: true,
          modal: true,
          data: null,
          guides: true,
          highlight: true,
          background: true,
          rotatable: true,
          scalable: true,
          cropBoxResizable: true,

          initialAspectRatio: 1 / 1,
          minContainerWidth: 450,
          minContainerHeight: 500,
          // minCropBoxHeight: 400,
          // minCropBoxWidth: 400,
          minCanvasHeight: 500,
          minCanvasWidth: 500,
          // crop(event) {
          //   console.log(event.detail.x);
          //   console.log(event.detail.y);
          //   console.log(event.detail.width);
          //   console.log(event.detail.height);
          //   console.log(event.detail.rotate);
          //   console.log(event.detail.scaleX);
          //   console.log(event.detail.scaleY);
          // }

        });


      }
      reader.readAsDataURL(input.files[0]);


    }
   

      const cropButton = document.getElementById(`cropButton${idNumber}`);
      cropButton.addEventListener('click', function () {
        let modal = document.getElementById(`imageModal${idNumber}`);

        let bootsrapModal = bootstrap.Modal.getInstance(modal);

        let closeButton = bootsrapModal.querySelectorAll('.btn-close').forEach(item => {
          item.addEventListener('click', () => {
            console.log('hello')
            // bootsrapModal.dispose();
            // cropper.distroy()
            // cropper = null;
          });
        })
        let imgSrc = cropper.getCroppedCanvas().toDataURL('image/jpeg');
        preview.src = imgSrc;



      })



    }








  function productValidation(event) {
        let title = document.getElementById("title");
        let description = document.getElementById("description");
        let mrpPrice = document.getElementById("mrpPrice");
        let price = document.getElementById("price");


        let titleError = document.getElementById("titleError");
        let descriptionError = document.getElementById("descriptionError");
        let mrpError = document.getElementById("mrpError");
        let priceError = document.getElementById("priceError");
        let imageError = document.getElementById("imageError");


        let titleDiv = document.getElementById("titleDiv");
        let imageDiv = document.getElementById("imageDiv");


        let image1 = document.getElementById("image1");
        let image2 = document.getElementById("image2");
        let image3 = document.getElementById("image3");
        let image4 = document.getElementById("image3");




        if (title.value.trim() === "") {
          title.style.border = "solid 1px red";
          titleError.innerText = "Title is a required field"
          titleDiv.scrollIntoView({
            behavior: "smooth",
            block: 'center',
            inline: "center"
          });
          setTimeout(function () {
            title.style.border = "";
            titleError.innerText = ""
          }, 3000);


          return false
        }
        if (title.value.trim().length < 3) {
          title.style.border = "solid 1px red";
          titleError.innerText = "Title should be 3 charector long "
          titleDiv.scrollIntoView({
            behavior: "smooth",
            block: 'center',
            inline: "center"
          });
          setTimeout(function () {
            title.style.border = "";
            titleError.innerText = ""
          }, 3000);

          return false;
        } else if (
          description.value.trim() === "" ||
          description.value.trim().length < 20
        ) {
          if (description.value.trim() === '') {
            description.style.border = "solid 1px red";
            descriptionError.innerText = "Description should not be Empty "
            descriptionDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              description.style.border = "";
              descriptionError.innerText = ""
            }, 3000);

          }
          else {
            description.style.border = "solid 1px red";
            descriptionError.innerText = "Title should be 20 charector long "
            descriptionDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              description.style.border = "";
              descriptionError.innerText = ""
            }, 3000);

          }

          return false;
        } else if (
          mrpPrice.value.trim() === "" ||
          Number(mrpPrice.value) <= 0 ||
          isNaN(mrpPrice.value)
        ) {
          if (mrpPrice.value.trim() === "") {

            mrpPrice.style.border = "solid 1px red";
            mrpError.innerText = "MRP field should not be Empty "
            mrpDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              mrpPrice.style.border = "";
              mrpError.innerText = ""
            }, 3000);


          } else if (isNaN(mrpPrice.value)) {
            mrpPrice.style.border = "solid 1px red";
            mrpError.innerText = "Invalid input!"
            mrpDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              mrpPrice.style.border = "";
              mrpError.innerText = ""
            }, 3000);

          } else {
            mrpPrice.style.border = "solid 1px red";
            mrpError.innerText = "MRP can not be less than zero "
            mrpDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              mrpPrice.style.border = "";
              mrpError.innerText = ""
            }, 3000);

          }

          return false;
        } else if (
          price.value.trim() === "" ||
          Number(price.value) <= 0 ||
          isNaN(price.value) ||
          mrpPrice.value < price.value
        ) {
          if (price.value.trim() === "") {

            price.style.border = "solid 1px red";
            priceError.innerText = "Price field should not be Empty "
            priceDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              price.style.border = "";
              priceError.innerText = ""
            }, 3000);


          } else if (isNaN(price.value)) {
            price.style.border = "solid 1px red";
            priceError.innerText = "Invalid input!"
            priceDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              price.style.border = "";
              priceError.innerText = ""
            }, 3000);

          } else if (+mrpPrice.value < +price.value) {
            price.style.border = "solid 1px red";
            priceError.innerText = "Price can not be more than MRP"
            priceDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              price.style.border = "";
              priceError.innerText = ""
            }, 3000);

          } else if (Number(price.value) <= 0) {
            price.style.border = "solid 1px red";
            priceError.innerText = "Price can not be less than zero "
            priceDiv.scrollIntoView({
              behavior: "smooth",
              block: 'center',
              inline: "center"
            });
            setTimeout(function () {
              price.style.border = "";
              priceError.innerText = ""
            }, 3000);
          }
          return false;

        } else if (image1.files.length == 0 ||
          image2.files.length == 0 ||
          image3.files.length == 0 ||
          image4.files.length == 0) {

          imageError.innerText = "Four Images is required "
          imageDiv.scrollIntoView({
            behavior: "smooth",
            block: 'center',
            inline: "center"
          });
          setTimeout(function () {

            imageError.innerText = ""
          }, 3000);


          return false

        } else {
          return true
        }



      }


</script>