<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include('../partials/sidenav.ejs') -%>
    <main class="main-wrap">
      <!-- Modal -->
      <div
      
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Create coupon
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="/api/v1/admin/coupons/create-coupon" method="post">
                <label for="form-label">Name</label>
                <input
                  type="text"
                  name="name"
                  placeholder="Enter coupon name"
                  class="form-control my-2"
                />
                <label for="form-label">Description</label>
                <input
                  type="text"
                  name="description"
                  placeholder="Enter Description here"
                  class="form-control my-2"
                />

                <label for="form-label">Dicount Percentage</label>
                <input
                  type="text"
                  name="discount"
                  placeholder="Enter in % "
                  class="form-control my-2"
                />


                <label for="form-label">MIn Order Amount</label>
                <input
                  type="text"
                  name="minOrder"
                  placeholder="Enter Min Amount"
                  class="form-control my-2"
                />

                

                <label for="form-label">Expire date</label>
                <input
                  type="date"
                  name="edate"
                  placeholder="DD-MM-YYYY"
                  class="form-control my-2"
                />

                <label for="form-label">Limit of use</label>
                <input
                  type="text"
                  name="limit"
                  placeholder="Enter how many user can use"
                  class="form-control my-2"
                />

                
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- edit coupon modal -->
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Edit coupon
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="/api/v1/admin/coupons/edit-coupon" method="post">
                <label for="form-label">Name</label>
                <input style="visibility: hidden;" type="text" name="id" id="couponId">
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Enter coupon name"
                  class="form-control my-2"
                />
                <label for="form-label">Description</label>
                <input
                  type="text"
                  id="description"
                  name="description"
                  placeholder="Enter Description here"
                  class="form-control my-2"
                />

                <label for="form-label">Dicount Percentage</label>
                <input
                  type="text"
                  id="discount"
                  name="discount"
                  placeholder="Enter in % "
                  class="form-control my-2"
                />


                <label for="form-label">MIn Order Amount</label>
                <input
                  type="text"
                  name="minOrder"
                  id="minCost"
                  placeholder="Enter Min Amount"
                  class="form-control my-2"
                />

                

                <label for="form-label">Expire date</label>
                <input
                  type="date"
                  name="edate"
                  id="edate"
                  placeholder="DD-MM-YYYY"
                  class="form-control my-2"
                />

                <label for="form-label">Limit of use</label>
                <input
                  type="text"
                  id="limit"
                  name="limit"
                  placeholder="Enter how many user can use"
                  class="form-control my-2"
                />

                
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <section class="content-main">
        <div class="content-header">
          <h2 class="content-title">Manage Coupon</h2>
          <div>
            <button
              href="#"
              class="btn btn-dark"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="material-icons md-plus"></i> Create coupon
            </button>
          </div>
        </div>
        <div class="card mb-4">
          <!-- card-header end// -->
          <div class="card-body">
            <div class="table-responsive" id="Reload">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Coupon code</th>

                    <th>Activation date</th>
                    <th>Expire date</th>
                    <th>Discount amount</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody >
                  <% if(Array.isArray(coupon) && coupon.length> 0) {%> <%
                  coupon.map((c)=> {%>
                  <tr>
                    <td width="20%">
                      <a href="#" class="itemside">
                        <div class="left">
                          <img
                            src="/img/profile.jpg"
                            class="img-sm"
                            alt="Userpic"
                          />
                        </div>
                        <div class="info pl-3">
                          <h6
                            class="mb-0 title"
                            style="text-transform: capitalize"
                          >
                            <%= c.title %>
                          </h6>
                          <small class="text-muted">Seller ID: #439</small>
                        </div>
                      </a>
                    </td>
                    <td><%= c.couponCode%></td>
                    <% const formattedDate =
                    c.createdAt?.toLocaleString('en-US', { weekday: 'short',
                    month: 'short', day: 'numeric', year: 'numeric',  }); %>
                    <td><%= formattedDate%></td>
                    <% const fDate =
                    c.expiryDate?.toLocaleString('en-US', { weekday: 'short',
                    month: 'short', day: 'numeric', year: 'numeric', }); %>
                    <td><%= fDate%></td>
                    <td><%= c.discount%>%</td>

                    <td class="text-end">
                      <button
                        id="button"
                        class="btn btn-sm btn-dark rounded font-sm mt-15"
                        data-user-id=""
                        data-status=""
                        onclick="listOrUnlist('<%= c._id%>')"
                      >
                        <%= c.isListed ? "Unlist" : "List" %>
                      </button>
                      <button
                        id="button"
                        class="btn btn-sm btn-dark rounded font-sm mt-15"
                        data-user-id=""
                        onclick="return editCoupon('<%= c._id%>', '<%= c.title%>', '<%= c.description%>', '<%= c.expiryDate%>', '<%= c.discount%>','<%= c.limit%>', '<%=c.minCost%>')"
                        data-status=""
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal2"
                      >
                        Edit
                      </button>
                    </td>
                  </tr>

                  <% }) %> <% }else{ %>
                  <tr>
                    <td colspan="6">No coupon found</td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <!-- table-responsive.// -->
            </div>
          </div>
          <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
          <nav aria-label="Page navigation example">
              <ul class="pagination  justify-content-center">

                  <a class="page-link" href="?page=<%=page+1-1%>"><i class="material-icons md-chevron_left"></i><%page+1+1%></a>

                  <li class="page-item ">
                      <a class="page-link" href="?page=<%=page+1%>"><%=page+1%></a>
                  </li>

                  <li class="page-item disabled">
                      <span class="page-link">...</span>
                  </li>

                  <a class="page-link" href="?page=<%=page+1+1%>"><%page+1+1%><i class="material-icons md-chevron_right"></i></a>

              </ul>

          </nav>
      </div>
      </section>
      <!-- content-main end// -->
      <%- include('../partials/adminFooter.ejs') -%>
    </main>

    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- // sweat alert -->
    <script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>

<script src="/javascript/admin/coupon.js">
 
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
