<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include('../partials/sidenav.ejs') -%>

    <main class="main-wrap">
      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Return request</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="table-responsive">
          <div id="reload">
          <table class="table " id="ReloadTable">
            <thead class="font-bold">
            <tr>
              <th class="text-center col-1">Order ID</th>
              <th class="text-center col-4" scope="col">Products</th>
              
              <th class="text-center col-1" scope="col">Total</th>
              <th class="text-center col-2" scope="col">Status</th>
              <th class="text-center col-2" scope="col">Ordered Date</th>
              <th class="text-center col-2" scope="col" class="text-end">Action</th>
            </tr>
            </thead>
           
            <tbody>
            <%if(Array.isArray(returns)&& returns.length > 0) {%>
              <%returns.forEach(order=>{%>
            
            <tr style="width: 100%;" class="shadow" >
              <td class="text-center col-1"><%=order.order.orderId%></td>
              <td class="text-center col-3 " >
              
                <div style="float:left; flex-wrap: wrap;" class="m-2">
                  <a href="api/v1/product-detail?id=<%=order.productId?._id%>">
                <img
                src="/Data/uploads/<%=order.productId?.images[0]%>"
                alt=""
                class="img-md rounded mx-2 shadow"
                />
                <p  class="text-start text-dark" style=" font-size:smaller;"><%= order.productId?.title%></p>
              </a>
              </div>
    
           
              </td>
              
              <td class="text-center col-1">₹<%= order.orderAmount || order.orderAmout%>.00</td>
              <td class="text-center col-2">
              
              <%if(order.returnStatus== 'False'){%>
                <span class=" px-4 py-2 rounded-pill" style="font-weight: 400; background-color: rgb(46, 168, 56); color: #e1d8d8;">
                <%= order.returnStatus%>
                </span>
                 
                <%}else if(order.returnStatus== 'Requested'){%>
                  <button onclick="orderDetails('<%=order._id%>')" class=" btn btn-info rounded"><%= order.orderStatus%></button>
                
                <%}else{%>
                  <span class=" px-4 py-2 rounded-pill" style="font-weight: 400; background-color: rgb(134, 32, 78); color: #e1d8d8;">
                    <%= order.returnStatus%>
                    </span>
                  <%}%>
              </td class="text-center col-2">
              <% const formattedDate=order.createdAt.toLocaleString('en-US',
              { weekday: 'short' , month: 'short' , day: 'numeric' ,
              year: 'numeric' , hour: 'numeric' , minute: 'numeric' ,
              second: 'numeric' , hour12: true }); %>
              <td><%= formattedDate%></td>
              <td class="text-center col-2 ">
              
              </td >
    
            </tr>
            
            </tbody>
            <%})%>
            <%}else{%>
              <tr>
                <dt colspan="5" >
                  No orders found.
    
                </dt>
              </tr>
              
              <%}%>
           
          
          </table>
          
          </div>
          
          
          
          <!-- card-body end// -->
        </div>
        <div class="pagination-area mt-15 mb-50">
          <nav aria-label="Page navigation example">
              <ul class="pagination  justify-content-center">

                  <a class="page-link" href="?page=<%=page+1-1%>"><i class="material-icons md-chevron_left"></i><%page+1+1%></a>

                  <li class="page-item ">
                      <a class="page-link" href="?page=<%=page+1%>"><%=page+1%></a>
                  </li>

                  <li class="page-item disabled">
                      <span class="page-link">...</span>
                  </li>

                  <a class="page-link" href="?page=<%=page+1+1%>"><%page+1+1%><i class="material-icons md-chevron_right"></i></a>

              </ul>

          </nav>
      </div>
        <!-- card end// -->
      </section>
      <!-- content-main end// -->
      <%- include('../partials/adminFooter.ejs') -%>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
  </body>
</html>
