<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link href="/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
  </head>

  <body>


    <%- include('../partials/sidenav.ejs') -%>

    <main class="main-wrap">
      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Return request</h2>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="table-responsive">
          <div id="reload">
          <table class="table " id="ReloadTable">
            <thead class="font-bold">
            <tr>
              <th class="text-center col-1">Order ID</th>
              <th class="text-center col-3" scope="col">Products</th>
              
              <th class="text-center col-2" scope="col">Details</th>
              <th class="text-center col-2" scope="col">Status</th>
              <th class="text-center col-2" scope="col">Return Date</th>
              <th class="text-center col-2" scope="col" class="text-end">Action</th>
            </tr>
            </thead>
           
            <tbody>
            <%if(Array.isArray(returns)&& returns.length > 0) {%>
              <%returns.forEach(order=>{%>
            
            <tr style="width: 100%;" class="shadow" >
              <td class="text-center col"><%=order.order.orderId%></td>
              <td class=" justify-content-center col-3" >
              
                <div style="float:left; flex-wrap: wrap;" class="m-2">
                  <a href="/api/v1/admin/products/product-detail?id=<%=order.productId?._id%>">
                <img
                src="/Data/uploads/<%=order.productId?.images[0]%>"
                alt=""
                class="img-md rounded mx-2 shadow"
                />
                <p  class="text-start text-dark" style=" font-size:smaller;"><%= order.productId?.title%></p>
              </a>
              </div>
    
           
              </td>

              <td class="col-2">
                <input class="text-center text-success m-2" disabled
                  style=" padding: 10px 5px; font-weight: bold; border: none; "
                  value=" Price : ₹ <%= order.productPrice%>.00" type="text">
                <br>
                <input class="text-center text-success  m-2 " disabled
                  style="padding: 10px 5px; font-weight: bold; border: none; "
                  value=" Quantity : <%= order.quantity%>"
                  type="text">
              </td>
              
              <td class="text-center col-2">
              
              <%if(order.returnStatus== 'False'){%>
                <span class=" px-4 py-2 rounded-pill" style="font-weight: 400; background-color: rgb(46, 168, 56); color: #e1d8d8;">
                <%= order.returnStatus%>
                </span>
                 
                <%}else if(order.returnStatus== 'Requested'){%>
                  <span class=" bg-danger text-white px-4 py-2 rounded-pill"><%= order.returnStatus%></span>
                
                <%}else{%>
                  <span class=" bg-primary text-white px-4 py-2 rounded-pill" style="font-weight: 400; background-color: rgb(134, 32, 78); color: #e1d8d8;">
                    <%= order.returnStatus%>
                    </span>
                  <%}%>
              </td >
             
             
              <% const formattedDate=order.createdAt.toLocaleDateString('en-US',
              { year: 'numeric', month: 'short', day:  'numeric'})%>
              <td style="" class="text-center col-2"><%= formattedDate%></td>
              <!-- <td class="text-center col-2 ">
              
              </td > -->
              <td class="text-center mx-4 col-2">
              
                <%if(order.returnStatus== 'False'){%>
                  <span class=" px-4 py-2 rounded-pill" style="font-weight: 400; background-color: rgb(46, 168, 56); color: #e1d8d8;">
                  <%= order.returnStatus%>
                  </span>
                   
                  <%}else if(order.returnStatus== 'Requested'){%>

                    <button type="button" class="btn btn-info rounded" data-toggle="modal" data-target="#requestModal<%=order._id%>">
                      <%= order.returnStatus%>
                    </button>
                  
                  <%}else{%>
                    <span class=" px-4 py-2 rounded-pill" style="font-weight: 400; background-color: rgb(134, 32, 78); color: #e1d8d8;">
                      <%= order.returnStatus%>
                      </span>
                    <%}%>
                </td >

              </tr>

                Modal
  <div class="modal fade" id="requestModal<%=order._id%>" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel<%=order._id%>" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color : rgb(248, 241, 241);" id="requestModalLabel<%=order._id%>">Request Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div class="row align-items-center justify-content-around">
          <div class="col-6 text-center row justify-content-center align-items-around" style="height: 200px; background-color: #c6dfef; border-radius: 6%;">
          <h3>Reason</h3>
          <p class="text-center" style="font-size: large; color: ;"><%=order.reason%></p>
          </div>
          <div class="col-6 text-center row justify-content-center align-items-around" style="height: 200px; background-color: #f8eafb; border-radius: 6%;">
          <h3>Message</h3>
          <p class="text-center" style="font-size: large; "><%=order.message ? order.message: 'None' %></p>
          </div>
        </div>
         
        </div>
        <div class="modal-footer justify-content-around">
          <button type="button" class="btn btn-reject" data-dismiss="modal" onclick="updateStatus('<%=order._id%>','Rejected')" >Reject</button>
          <button type="button" class="btn btn-accept" onclick="updateStatus('<%=order._id%>','Accepted')">Accept</button>
        </div>
      </div>
    </div>
  </div>
               
          

           
          


            
            
            <%})%>
            <%}else{%>
              <tr>
                <dt colspan="5" >
                  No orders found.
    
                </dt>
              </tr>
              
              <%}%>
            </tbody>
          
          </table>

          
          </div>


         
  <!-- Custom CSS for styling -->
  <style>
    .modal-header {
      background-color: #1f0101;
      color: rgb(255, 255, 255);
      font-size: larger;
    }
    .modal-footer .btn-accept {
      background-color: #28a745;
      color: white;
    }
    .modal-footer .btn-reject {
      background-color: #dc3545;
      color: white;
    }
  </style>
</head>
<body>
  <!-- Button to trigger modal -->
 

  

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
          
          <!-- card-body end// -->
        </div>
        <div class="pagination-area mt-15 mb-50">
          <nav aria-label="Page navigation example">
              <ul class="pagination  justify-content-center">

                  <a class="page-link" href="?page=<%=page+1-1%>"><i class="material-icons md-chevron_left"></i><%page+1+1%></a>

                  <li class="page-item ">
                      <a class="page-link" href="?page=<%=page+1%>"><%=page+1%></a>
                  </li>

                  <li class="page-item disabled">
                      <span class="page-link">...</span>
                  </li>

                  <a class="page-link" href="?page=<%=page+1+1%>"><%page+1+1%><i class="material-icons md-chevron_right"></i></a>

              </ul>

          </nav>

      </div>

        <!-- card end// -->
      
        </section>
      <script>
       

        function updateStatus(returnId, status) {
          console.log(returnId, status)
          fetch('/api/v1/admin/returns/change-status',{
            method: 'PATCH',
            body: JSON.stringify({returnId, status}),
            headers: {
						'Content-Type': 'application/json',

					}
         

          }).then(response => response.json())
          .then(response =>{
            console.log(response)
            if(response.success) {            
           
            Swal.fire({
                title: 'success',
                width:'300px',
                text: response.message,
                icon: 'success',
              //  toast:true,
                
                showConfirmButton:false,
                timer:1500,
            })
         
          location.reload(true)
           
            }else{
              Swal.fire({
                title: 'Oops!',
                width:'300px',
                text: response.message,
                icon: 'error',
              //  toast:true,
                
                showConfirmButton:false,
                timer:1500,
            })
            location.reload(true)
            }
          
          })
          .catch(error => console.log(error))
          
        }
      </script>
     
      <!-- content-main end// -->
      <%- include('../partials/adminFooter.ejs') -%>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js?v=1.1" type="text/javascript"></script>
  </body>
</html>
