<%-include('../partials/userHeader')%>

	<main class="main">
		<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
			<div class="container">
				<h1 class="page-title">Cart</h1>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav m-1">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/api/v1/">Home</a></li>
					<li class="breadcrumb-item"><a href="/api/v1/shop">Shop</a></li>
					<li class="breadcrumb-item active" aria-current="page">Cart</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="cart" id="Reload">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<table class="table table-cart table-mobile">
								<thead>
									<tr>
										<th>Product</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Total</th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									<%let Grandtotal=0%>


										<%if(cart && Array.isArray(cart) && cart.length>0 ) {%>
											<%cart.forEach(cart=> {%>
												<% Grandtotal +=cart.minimumPrice * cart.products.quantity%>




													<tr id="<%=cart.products._id%>" class="m-4">
														<td class="product-col">
															<div class="product">
																<figure class="product-media">
																	<a
																		href="/api/v1/product-detail?id=<%=cart.product._id%>">
																		<img class="img-md "
																			style="box-sizing: content-box;"
																			src="/Data//uploads/<%=cart.product.images[0]%>"
																			alt="Product image">
																	</a>
																</figure>

																<h3 class="product-title">
																	<a
																		href="/api/v1/product-detail?id=<%=cart.product._id%>">
																		<%= cart.product.title%>
																	</a>
																</h3><!-- End .product-title -->

																<%if(cart.product.isListed==false) {%>
																	<div class="  text-center mx-5 p-2 py-3  bg-warning rounded"
																		style="width: 50%; border: none;" type="text"
																		id="<%=cart.product._id%>" value="">Product
																		Unavailable </div>
																	<%}else{%>
																		<input disabled
																			class=" bg-light text-center mx-5 p-2 text-dark"
																			style="width: 20%; border: none;"
																			type="text" id="<%=cart.product._id%>"
																			value="<%=cart.products.size%>">
																		<%}%>

															</div><!-- End .product -->

														</td>

														<td class="price-col">₹<%=cart.minimumPrice%>.00</td>
														<td class="quantity-col">
															<div class="cart-product-quantity">
																<input
																	onchange="changeCount(event,'<%=cart.products._id%>','<%=cart.product._id%>','<%=cart.products.size%>','<%=cart.product.price%>')"
																	id="<%=cart._id%>" type="number"
																	class="countControl form-control"
																	value="<%=cart.products.quantity%>" min="1" max="6" step="1"
																	data-decimals="0" required>
															</div><!-- End .cart-product-quantity -->
														</td>

														<td class="total-col">₹<%= cart?.minimumPrice * cart.products.quantity
																%>.00</td>
														<td class="remove-col"><button
																onclick="removeFromCart('<%=cart.products._id%>','<%=cart.products.size%>','<%=Grandtotal%>')"
																style="margin-right: 0.3rem" class="btn-remove"><i
																	class="icon-close"></i></button></td>
													</tr>


													<%})%>

														<%}else{%>
															<tr class="h-100">
																<td colspan="5">
																	<p class="text-center ">Your cart is empty please
																		add items to the cart.</p>
																</td>
															</tr>


															<%}%>


								</tbody>
							</table><!-- End .table table-wishlist -->

							<!-- Button trigger modal -->

							<!-- Modal -->
							<div id="message-main">
								<p id="text-span">Delivery charge</p>
								<div class="message-container">
									<div class="message-box">
										<span id="message-number">5</span>
									</div>
								</div>
							</div>

							<style>
								#message-main {
									visibility: hidden;
									z-index: 15;
									position: absolute;
									top: 27%;
									right: -41%;
									display: flex;
									width: 250px;
									height: 75px;
									background-color: #63c2af;
									border-radius: 10px;
									justify-content: space-evenly;
									align-items: center;
									transition: ease-in-out;

								}

								#text-span {
									font-weight: 400;
									font-size: medium;
									color: #ffffff;

								}

								.message-container {
									position: relative;
									width: 30px;
									height: 30px;

								}

								.message-box {
									position: absolute;
									top: -75%;
									left: -47%;
									background-color: #138f76;
									color: white;
									border-radius: 50%;
									width: 250%;
									height: 250%;
									display: flex;
									justify-content: center;
									align-items: center;
									font-size: 14px;
								}

								#message-number {
									font-weight: bold;
									font-size: large;

								}
							</style>


							<div class="cart-bottom">

								<a href="/api/v1/shop" class="btn btn-outline-dark-2"><span>ADD ITEMS TO CART</span><i
										class="icon-refresh"></i></a>
							</div><!-- End .cart-bottom -->
						</div><!-- End .col-lg-9 -->
						<aside class="col-lg-4">
							<div class="summary summary-cart">
								<h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<tbody>
										<tr class="summary-subtotal">
											<td>Subtotal:</td>

											<%if(Grandtotal ){%>
												<td>₹<%= Grandtotal %>.00</td>
												<%}else{%>
													<td>₹0.00</td>
													<%}%>
										</tr><!-- End .summary-subtotal -->
										<tr class="summary-shipping">
											<td>Shipping:</td>
											<td>&nbsp;</td>
										</tr>
										<%if( Grandtotal> 4999) {%>

											<tr class="summary-shipping-row">
												<td>
													<div class="my-3 custom-control custom-radio">
														<input type="radio" id="free-shipping" name="shipping"
															class="custom-control-input">
														<label class=" custom-control-label" for="free-shipping">Free
															Shipping</label>
													</div><!-- End .custom-control -->
												</td>
												<td>₹0.00</td>
											</tr><!-- End .summary-shipping-row -->
											<%}else if( Grandtotal> 0){%>

												<tr id="output-div" class="summary-shipping-row text-primary" style="">
													<td>
														<div class="custom-control custom-">

															<label class="custom-control"
																for="standart-shipping">Delivery charge : </label>


														</div><!-- End .custom-control -->
													</td>
													<td>₹ <span id="output-span">
															<%=+cart[0].deliveryCharge%>
														</span>.00</td>
												</tr><!-- End .summary-shipping-row -->



												<tr class="summary-shipping-estimate " style="width: 80%;">
													<td style="position: relative;">
														<div class="text-danger" id="pincodeError"
															style="position: absolute; top:0%; left:11%">
														</div>
														<a class="text-center"> Estimate delivery cost<br>
															<input class="" id="deliveryCharge"
																onkeypress="findDeliveryCharge(event)"
																style="all: unset; right: 0; margin-left: 2%; text-align: center;"
																type="text"></a>
														<button id="find-delivery" type="button" onclick="findDeliveryCharge(event)"
															data-id="good"
															style=" width: 5px; height: 30px; z-index: 10;"
															class="btn btn-primary mt-1 text-center">Check</button>
													</td> <br>


												</tr>
												<div class="row d-none">
													<div>
														it delivery charge

													</div>

												</div>

												<tr class="summary-total">
													<td>Total:</td>
													<td>₹<%= Grandtotal + +cart[0].deliveryCharge %>.00</td>
												</tr><!-- End .summary-total -->
												<%}%>
									</tbody>
								</table><!-- End .table table-summary -->
								<%if(Grandtotal> 0) {%>

									<a onclick="proceedToCheckout(event)" href=""
										class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
									<%}%>
							</div><!-- End .summary -->

							<a href="/api/v1/shop" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE
									SHOPPING</span><i class="icon-refresh"></i></a>
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .cart -->
		</div><!-- End .page-content -->
	</main><!-- End .main -->
	<style>
		.notification {


			background-color: #dff0ed;
			/* Mild red color */

			border-radius: 50px !important;
			animation: shake 0.5s ease-in-out 2;
			/* Shake animation */
		}

		.changeBg {
			background-color: #e0edeb;
		}

		@keyframes shake {

			0%,
			100% {
				transform: translateX(0);
			}

			25%,
			75% {
				transform: translateX(-10px);
			}

			50% {
				transform: translateX(10px);
			}
		}

		/* Increase font size of title */
		.swal2-title {
			font-size: 28px;
			/* Adjust font size as needed */
		}

		/* Increase font size of content text */
		.swal2-text {
			font-size: 30px;
			/* Adjust font size as needed */
		}


		/* .notification {
				place-content: center;

				--border-angle :0turn;
				--main-bg: conic-gradient(
					from var(--border-angle),
					#213,
					#112 5%,
					#112 60%,
					#213 95%
				);
				border: solid 5px transparent;
				border-radius: 50% !important;
				--gradient-border: conic-gradient(from var(--border-angle),
				transparent 25%, #08f, #f03 99%, transparent);

				background: var(--main-bg)
				padding-box,
				var(--gradient-border)
				border-box,
				var(--main-bg)
				border-box;
				background-position: center center;
				animation: bg-spin 3s linear infinite;

				@keyframes bg-spin {
					to {
						--border-angle: 1turn;
					}
					
				}
				&:hover {
					animation-play-state:paused;
				}







			} */



		/* @keyframes shakeAndColorChange {
				0%, 100%{
					transform: translateX(0);
					background-size: 100%;
				}
				25%, 75% {
					transform: translateX(-10px);
				}
				50% {
					transform: translateX(10px);
				}
				
			} */
	</style>

	<%-include('../partials/userFooter')%>




		</body>
		<script>
			sessionStorage.setItem('allowedToCheckout', 'true')

			function proceedToCheckout(event) {
				event.preventDefault()
				fetch('/api/v1/proceed-to-checkout', {
					method: "get",
					headers: {
						'Content-Type': 'application/json',

					}

				})
					.then(response => response.json())
					.then(data => {
						console.log(data)
						if (data.error) {
							Swal.fire({
								title: 'Error',
								text: data.message + '\n remove them first',
								icon: 'error',
								showCancelButton: false,
								timer: 3500,
							})

							data.errorData.forEach((element, row) => {

								row = document.getElementById(element)
								row.classList.add('notification');
								row.querySelectorAll('*').forEach(item => item.classList.add('changeBg'))
								row.querySelectorAll('input').forEach(item => item.style.backgroundColor = '#e0edeb')
								setTimeout(() => {
									row.classList.remove('notification')


								}, 4000);

							});



						}
						if (data.success) {
							location.href = "/api/v1/start-checkout"

						}
					})

			}



			function findDeliveryCharge(event) {
				if (event.key == 'Enter' || event.keyCode == 13 ||
					event.target.dataset?.id == 'good') {
					let butn = document.getElementById('find-delivery');
					console.log(butn)
					let showDelivery = document.getElementById('delivery-span');
					let outerDelivery = document.getElementById('delivery-outer')
					let element = document.getElementById("deliveryCharge");
					let pincode = element.value
					let pincodeError = document.getElementById('pincodeError');
					let messageMain = document.getElementById('message-main');
					let messageNumber = document.getElementById('message-number');
					let outputSpan = document.getElementById('output-span');
					let outputDiv = document.getElementById('output-div');

					if (!/^[1-9][0-9]{5}$/.test(pincode) ||
						pincode.trim().length != 6 ||
						isNaN(Number(pincode))
					) {

						pincodeError.innerText = 'invalid pincode'
						setTimeout(() => {
							element.style.border = '';
							pincodeError.innerText = '';

						}, 2000);
						return false

					}
					butn.innerHTML = `<span class="spinner-border spinner-border-md mx-2" role="status" aria-hidden="true"></span> Checking...`



					fetch('/api/v1/find-delivery-charge', {
						method: "POST",
						body: JSON.stringify({ pincode }),
						headers: {
							'Content-Type': 'application/json',

						}

					})
						.then(response => response.json())
						.then(data => {

							if (data.success) {
								messageMain.style.visibility = 'visible'
								messageNumber.innerHTML = `<b> ${data.data}</b>`;
								outputDiv.style.display = 'block';
								outputSpan.innerHTML = `${data.data}`
								butn.innerHTML = 'Check';



								setTimeout(() => {
									messageMain.style.visibility = 'hidden'
									messageNumber.innerHTML = ``

								}, 2000);
							} else {
								Swal.fire({
									title: 'Oops..',
									text: data.message,
									width: '300px',
								
									icon: 'error',


									showConfirmButton: false,
									timer: 2300,
								});
								butn.innerHTML = 'Check';
							}


						})

				}


			}
		</script>


		<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

		</html>