<%-include('../partials/userHeader')%>
        
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/api/v1/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/api/v1/profile">Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Address</li>
                    </ol>
                </div><!--End .container-->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
					<div class="row align-items-center justify-content-center">
						<%if(messages.addressError){%>
							<div id="error-div" class="alert text-danger fw-bold bg-light rounded text-center important border border-danger" role="alert"><%= messages.addressError  %></div>
			
						<%}%> 
					</div>
	                <div class="container">
	                	<div class="row align-items-center justify-content-center">
							

	                		<div class="col-md-10 col-lg-10">
	                			<div class="tab-content" id="exampleDiv">
								    

								    

								    
								    	 <form  >
											<h4>Add New Address</h4>
											<div class="p-0 col-12 mb-2">
												<label class="col-sm-12">Address Type</label>
												
												<select name="type" class="form-select col-sm-12 text-center py-3 border-0 rounded bg-light" > 
													<option selected value="<%=address.type%>"><%=address.type%></option>
													<option  value="Home">Home</option>
													<option  value="Work">Work</option>
													
													
												</select>
											</div>
											
												<label>Fullname *</label>
												<div class="text-danger" id="nameError"
                                                    style="position: absolute; top: -22px; left: 6px">
                                                </div>
												<input type="text" value="<%=address.name%>" class="form-control" id="name" name="name" required>
												<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>
											
			                				<div class="row my-2">
												
			                					<div class="col-sm-6">
			                						<label>Phone *</label>
													<div class="text-danger" id="phoneError"
                                                    style="position: absolute; top: -22px; left: 6px">
                                                </div>
			                						<input type="text" value="<%=address.phone%>" class="form-control" name="phone" id="phone" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Alternate Phone </label>
													<div class="text-danger" id="alternateError"
                                                    style="position: absolute; top: -22px; left: 6px">
                                                </div>
			                						<input type="text" class="form-control" value="<%=address.alternatePhone%>" id="alternatePhone" name="alternatePhone" >
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->
											<div class="row my-2">
											<div class="col-6">
		                					<label class="col-sm-12">State</label>
											
		        							<select name="state" class="form-select col-sm-12 text-center py-3 border-0 rounded bg-light" >  
												<option selected value="<%=address.state%>"> <%=address.state%></option>"

												<option  value="kerala">Kerala</option>
												<option  value="Karnataka">Karnataka</option>
												<option  value="Utterpradesh">Utterpradesh</option>
												<option  value="Jargargh">Jargargh</option>
												<option  value="Telengana">Telengana</option>
												<option  value="Telengana">Telengana</option>
												<option  value="Andra-Pradesh">Andra Pradesh</option>
												<option  value="Goa">Goa</option>
												<option  value="Delhi">Delhi</option>
												
											</select>
										</div>
											<div class="col-6">
												<label>District * </label>
												<div class="text-danger" id="districtError"
                                                    style="position: absolute; top: -22px; left: 6px">
                                                </div>
												<input type="text" value="<%=address.type%>"  class="form-control" id="district"  name="district" required>
											</div>
										</div>
										<div class="row my-2">
												
											<div class="col-sm-6">
												<label>Locality</label>
												<div class="text-danger" id="localityError"
                                                    style="position: absolute; top: -22px; left: 6px">
                                                </div>
		            						<input type="text" value="<%=address.locality%>" class="form-control" id="locality" name="locality">
											</div><!-- End .col-sm-6 -->

											<div class="col-sm-6">
												<label>Pincode </label>
												<div class="text-danger" id="pincodeError"
                                                    style="position: absolute; top: -22px; left: 6px">
                                                </div>
												<input type="text" value="<%=address.pincode%>" class="form-control" id="pincode" name="pincode" required>
											</div><!-- End .col-sm-6 -->
										</div><!-- End .row -->
											
		            						

		            						<label>House No. Street No.</label>
											<div class="text-danger" id="streetError"
                                                    style="position: absolute; top: -22px; left: 6px">
                                                </div>
		            						<input type="text" value="<%=address.street%>" class="form-control" id="street" name="street">

		            						<hr>
		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE </span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
							
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		<script src="/javascript/editAddress.js">
		</script>

		<%-include('../partials/userFooter')%>
    <!-- Plugins JS File -->
	

<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>