<%- include('../partials/userHeader.ejs') -%>

  </style>
</head>
<body>

 
    <!-- Main Content -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
      <div class="container">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/api/v1">Home</a></li>
              <li class="breadcrumb-item"><a href="/api/v1/profile">Profile</a></li>
              
          </ol>
      </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->

  <div id="edit-profile-section"   style="display: block;"  >
     <h1>Wallet</h1>
     
     <div class="mt-5">
      
      
      <div class="table-responsive">
        <div class=" d-flex ">
          <div class="card p-3">
            <div class="d-flex flex-row justify-content-between text-align-center">
       
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <p class="text-dark"><%= wallet?.user?.name  %> Account</p>
            <div class="card-bottom pt-3 px-3 mb-2">
              <div class="d-flex flex-row justify-content-between text-align-center">
                <div class="d-flex flex-column" style="	color: #adb5bd;
                font-size: 13px;" ><span>Balance amount</span><p>₹ <span class="text-white"><%= wallet?.balance  %></span></p></div>
        
              </div>
            </div>
            <div class="new-div">
              <div class="car"  >
               <div class="card-body">
                <h4 class="card-title text-center">Transaction History</h4>
                <hr>
                <%if(wallet?.transactions?.length > 0){%>
                  <% walletHistory.forEach((walletHistory)=>{ %>
                    <div class="d-flex justify-content-between transction- " >
                      <p ><%= walletHistory.date.toLocaleDateString('en-US',
                        { year: 'numeric', month: 'short', day: '2-digit'
                        }) %></p>
                      <p>
                        ₹<%=  walletHistory.amount %>
                      </p>
                      <p>
                        <%= walletHistory.mode %>
                      </p>
                    </div>
                  
                    <%})%>
                
                <% } %>
               
                <button class="btn text-white w-100" style="background-color: #3E454D">Add Money</button>

               </div>
              </div>
              
              <!-- Add your content here -->
            </div>
          </div>
        </div>
     
      </div>
  </div>

  </div>


    </div>
    <!-- main content screen end  -->
  </div>
  <%- include('../partials/userFooter.ejs') -%>