<%- include('../layouts/user/header.ejs') -%>
<style>
 

    .containerrr {
      display: flex;
      flex-wrap: wrap;
    }

    .sidebarrr {
      flex: 1;
      min-width: 20%;
      max-width: 25%;
      padding: 20px;
     
      color: #fff;
      min-height: 100vh;
    }

    .main-contenttt {
      flex: 3;
      padding: 20px;
    }hr{
        color:black;
    }

    .user-headerrr {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .user-photooo {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      /* Placeholder background color for the user photo */
      background-color: #ddd;
    }

    .user-nameee {
      font-size: .6rem;
      font-weight: bold;
    }

    .menu-headinggg {
      font-size: .7rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: rgba(127,127,127,1);
    }

    .menu-itemmm {
      margin-bottom: 10px;

    }

    .menu-itemmm a {
     color: black;
      text-decoration: none;
      font-size: .9rem;
      font-family: 'Quicksand';
    }
    .menu-itemmm.selected {
  background-color: #f0f0f0;
  border-radius: 5px;
}

    @media screen and (max-width: 600px) {
        .menu-itemmm a {
     color: black;
      text-decoration: none;
      font-size: .5rem;
    }   

}




/* wallet  */
.card{
	border: none;
	border-radius: 10px;
	width: 50%;
  
	
}
.fa-ellipsis-v{
	font-size: 10px;
	color: #C2C2C4;
	margin-top: 6px;
	cursor: pointer;
}
.text-dark{
	font-weight: bold;
	margin-top: 8px;
	font-size: 13px;
	letter-spacing: 0.5px;
}
.card-bottom{
	background: #3E454D;
	border-radius: 6px;
}

.flex-column p{
	letter-spacing: 1px;
	font-size: 18px;
}
.btn-secondary{
	height: 40px!important;
	margin-top: 3px;
}
.btn-secondary:focus{
	box-shadow: none;
}
  </style>
</head>
<body>

 
  <div class="containerrr">
    <!-- Sidebar -->
    <div class="sidebarrr" id="sidebar">
 
      <div class="user-headerrr">
        <div class="user-photooo"></div>
        <div class="user-nameee">John Doe</div>
      </div>

      <!-- Sidebar Menu -->
      <div class="menu-headinggg">General</div>
  
      <div class="menu-itemmm"><a href="/addresses"  >Manage Address</a></div><hr>
     
      <div class="menu-itemmm" ><a href="/orders">Orders</a></div><hr>

      <div class="menu-itemmm"><a href="/wishlist"   >Wishlist</a></div><hr>
      <div class="menu-itemmm"><a href="/wallet"  class="bg-light active" aria-current="page" >Wallet</a></div><hr>

      <div class="menu-headinggg">Legal</div>
      <div class="menu-itemmm" ><a href="#">Terms of Use</a></div><hr>
      <div class="menu-itemmm"><a href="#">Privacy Policy</a></div><hr>

      <div class="menu-headinggg">Personal</div>
      <div class="menu-itemmm" ><a href="#">Report a Bug</a></div><hr>
      <div class="menu-itemmm" ><a href="/signout">Logout</a></div><hr>

    </div>

    <!-- Main Content -->
<div class="main-contenttt">
  <nav class="d-none d-md-block">
    <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
        <li class="me-4"><a class="nav-link-checkout" href="/api/v1">Home</a></li>
        <li class="me-4"><a class="nav-link-checkout" href="/api/v1/profile">Profile</a></li>
        <li class="me-4"><a class="nav-link-checkout active aria-current" href="#">Wallet</a></li>
    </ul>
</nav>

  <div id="edit-profile-section"   style="display: block;"  >
     <h1>Wallet</h1>
     
     <div class="mt-5">
      <h3 class="fs-5 fw-bolder mb-0 pb-4">Your </h3>
      
      <div class="table-responsive">
        <div class=" d-flex ">
          <div class="card p-3">
            <div class="d-flex flex-row justify-content-between text-align-center">
       
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <p class="text-dark"><%= name  %> Account</p>
            <div class="card-bottom pt-3 px-3 mb-2">
              <div class="d-flex flex-row justify-content-between text-align-center">
                <div class="d-flex flex-column" style="	color: #adb5bd;
                font-size: 13px;" ><span>Balance amount</span><p>₹ <span class="text-white"><%= walletAmount  %></span></p></div>
        
              </div>
            </div>
            <div class="new-div">
              <div class="car"  >
               <div class="card-body">
                <h4 class="card-title text-center">Transaction History</h4>
                <hr>
                <%if(walletHistory.length > 0){%>
                  <% walletHistory.forEach((walletHistory)=>{ %>
                    <div class="d-flex justify-content-between transction- " >
                      <p ><%= walletHistory.date.toLocaleDateString('en-US',
                        { year: 'numeric', month: 'short', day: '2-digit'
                        }) %></p>
                      <p>
                        ₹<%=  walletHistory.amount %>
                      </p>
                      <p>
                        <%= walletHistory.reason %>
                      </p>
                    </div>
                  
                    <%})%>
                
                <% } %>
               
                <button class="btn text-white w-100" style="background-color: #3E454D">Add Money</button>

               </div>
              </div>
              
              <!-- Add your content here -->
            </div>
          </div>
        </div>
     
      </div>
  </div>

  </div>


    </div>
    <!-- main content screen end  -->
  </div>